#Environnement python 
.env
__pycache__/
*.pyc
db.sqlite3
venv/
node_modules/
*.sqlite3

# Django - NE JAMAIS POUSSER
db.sqlite3
*.log
media/

# Variables d'environnement - NE JAMAIS POUSSER
.env

# Node / React
node_modules/
build/

# Système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/.venv/
